body{
    background-color: black;
}

.title-shit h1, h2{
    color: white;
    text-align: center;
}

.title-shit span{
    color: yellow;
}

/*title-shit END*/

/*day-Bot START */

.day-Bot ul li{
    color: whitesmoke;
    list-style-type: none;
    text-align: right;
}