/*nav_bar-HOME START*/
.nav_bar-HOME{
    background-color: black;
    color: yellow;
}

.nav_bar-HOME ul{
    text-align: center;
    list-style-type: none;
}

.nav_bar-HOME li{
    display: inline;
}

.day_links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*nav_bar-HOME END*/
/*catch_phrase START*/
.catch_phrase{
    color: white;
    text-align: center;
}

.catch_phrase img{
    width: 27%;
}
/*catch_phrase END*/

/*wanna START*/
.wanna{
    color: lightgray;
    text-align: center;
}

/*wanna START*/

/* today_Games START*/

.today_Games{
    color: gray;
    text-align: center;
    border: outset;
}


.bee_game iframe{
    width: 100%;
    height: 656px;
}


/* today_Games END*/

/*dawn_Bot START*/
.dawn_Bot{
    color: gray;
    text-align: center;
    border: outset;
}

.speach p{
    background-color: white;
    color: black;
}

.face img{
    width: 27%;
}

/* dawn_Bot END*/ 

/*art?law START*/
.art_law{
    background-color: white;
    color: black;
    text-align: center;
}

/*law/art END*/
/* INDEX END */
/* YESTERDAY START ------------------------------------------------*/ 

/*day_links_YES START*/

.nav_bar-YES{
    background-color: black;
    color: yellow;
}

.nav_bar-YES ul{
    text-align: center;
    list-style-type: none;
}

/* I don't think i need it? But I'm not ready to commit to deleting yet. 
.nav_bar-YES li{
    display: inline;
}
*/
.day_links_YES{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*day_links_YES END*/
/*
.buy-products h4{
    color: white;
}

.c_candles{
    color: yellow;
    text-align: center;
}

.c_candles button{
    background-color: yellow;
    color: black;
}
*/
/* YESTERDAY END*/

