/*nav_bar-HOME START*/
.nav_bar-HOME{
    color: yellow;
}

.nav_bar-HOME ul{
    text-align: center;
    list-style-type: none;
    
}

/*nav_bar-HOME END*/
/*catch_phrase START*/
.catch_phrase{
    color: white;
    text-align: center;
}

.catch_phrase img{
    width: 27%;
}
/*catch_phrase END*/

/*wanna START*/
.wanna{
    color: lightgray;
    text-align: center;
}

/*wanna START*/

/* today_Games START*/

.today_Games{
    color: gray;
    text-align: center;
    border: outset;
}

/* Needs Fix
.bee_clicker iframe{
    position: fixed;
    inset: 0;
    z-index: 100;
}
*/

/* today_Games END*/

/*dawn_Bot START*/
.dawn_Bot{
    color: gray;
    text-align: center;
    border: outset;
}

.speach p{
    background-color: white;
    color: black;
}

.face img{
    width: 27%;
}